.scroll-to-top {
    /* background-color: #6e6f72; */
    right: 40px;
    bottom: 40px;
    position: fixed;
    z-index: 2;
    cursor: pointer;
    border-radius: 50px !important;
    width: 45px !important;
    height: 45px !important;
    border: 2px solid !important;
    box-shadow: 0 0px 15px 0 rgb(132 128 177 / 28%) !important;
}

.scroll-to-top svg {
    height: 20px !important;
    width: 40px !important;
    fill: #6e6f72;
    font-weight: bolder !important;
}